In [4]:
l=[1,2,3,4,[5,6]]
l.pop([4])
print(l)

IndexError: list index out of range

In [11]:
l=[1,2,3,4,[5,6,[7,9]]]
l.remove([7,9])
print(l)

ValueError: list.remove(x): x not in list

In [12]:
l=[1.2,3.3,4.5,3,65,4]
l.sort()
print(l)

[1.2, 3, 3.3, 4, 4.5, 65]

a=10
len(a)

In [13]:
a=10
len(a)

TypeError: object of type 'int' has no len()

In [14]:
l1=[1,2,3,45]
l2=["asha"]
l1+l2

[1, 2, 3, 45, 'asha']

In [32]:
#to put square of a list in another list using append using for loop

a=[1,2,3,4,5]
b=[]
for i in a:
    c=i*i
    print(b.append(c))
    
    
print(b)

None
None
None
None
None
[1, 4, 9, 16, 25]

In [11]:
#to make the output of for loop to a list use append method as bellow


a = int(input("please enter the int number"))
b=0
c=[]
for i in range(1,a+1):
    b=b+i
    print(b)
    c.append(b)
print(c)

please enter the int number5
1
3
6
10
15
[1, 3, 6, 10, 15]

In [13]:
#forming a list using insert and append method

a=[11,2,1,3,4,5]
b=[]
for i in a:
    print(i)
    b.insert(len(a),(i**2))
    
    
print(b)   
    
a=[11,2,1,3,4,5]
b=[]
for i in a:
    print(i)
    b.append(i**2)
    
    
print(b)

11
2
1
3
4
5
[121, 4, 1, 9, 16, 25]
11
2
1
3
4
5
[121, 4, 1, 9, 16, 25]

In [48]:
a=["srisha@gmail","vikram@bail,","rakshan@mIL"]
b=[]
for i in a: 
    b.append(i.split("@")[0])

In [49]:
b

['srisha', 'vikram', 'rakshan']

In [12]:
for loop using range to find the sum of 100 numbers


a=0

for i in range(1,101):
      a+=i
      print(i,":" ,a)
      print()
print(a)

1 : 1

2 : 3

3 : 6

4 : 10

5 : 15

6 : 21

7 : 28

8 : 36

9 : 45

10 : 55

11 : 66

12 : 78

13 : 91

14 : 105

15 : 120

16 : 136

17 : 153

18 : 171

19 : 190

20 : 210

21 : 231

22 : 253

23 : 276

24 : 300

25 : 325

26 : 351

27 : 378

28 : 406

29 : 435

30 : 465

31 : 496

32 : 528

33 : 561

34 : 595

35 : 630

36 : 666

37 : 703

38 : 741

39 : 780

40 : 820

41 : 861

42 : 903

43 : 946

44 : 990

45 : 1035

46 : 1081

47 : 1128

48 : 1176

49 : 1225

50 : 1275

51 : 1326

52 : 1378

53 : 1431

54 : 1485

55 : 1540

56 : 1596

57 : 1653

58 : 1711

59 : 1770

60 : 1830

61 : 1891

62 : 1953

63 : 2016

64 : 2080

65 : 2145

66 : 2211

67 : 2278

68 : 2346

69 : 2415

70 : 2485

71 : 2556

72 : 2628

73 : 2701

74 : 2775

75 : 2850

76 : 2926

77 : 3003

78 : 3081

79 : 3160

80 : 3240

81 : 3321

82 : 3403

83 : 3486

84 : 3570

85 : 3655

86 : 3741

87 : 3828

88 : 3916

89 : 4005

90 : 4095

91 : 4186

92 : 4278

93 : 4371

94 : 4465

95 : 4560

96 : 4656

97 : 4753

98 : 4851

99 : 4950

100 : 5050

5050

please enter the int number5
1
3
6
10
15
[1, 3, 6, 10, 15]

In [5]:
#for loop to print hello before each name

lst=["Sam", "Lisa", "Micha", "Dave", "Wyatt", "Emma", "Sage"]
#Type your code here.


for i in lst:
   print("hello",i)

hello Sam
hello Lisa
hello Micha
hello Dave
hello Wyatt
hello Emma
hello Sage

In [17]:
#Type a code inside the for loop so that counter variable named c is increased by one each time loop iterates. 
#Can you guess how many times it will add 1?.



str="Civilization"

c=0
for i in str:
#Type your answer here.    
      c+=1
      print(c)

1
2
3
4
5
6
7
8
9
10
11
12

In [ ]:
#Using a for loop and .append() method append each item with a Dr. prefix to the lst.


lst1=["Phil", "Oz", "Seuss", "Dre"]
lst2=[]
for i in lst1:
       lst2=lst1.append("dr")
       print(lst2)
print(ls2)

In [12]:
lst1=["Phil", "Oz", "Seuss", "Dre"]
lst2=[]
#Type your answer here.

for i in lst1:
    lst2="Dr "+i
    print(lst2)


print(lst2)

Dr Phil
Dr Oz
Dr Seuss
Dr Dre
Dr Dre

In [7]:
#Write a for loop which appends the square of each number to the new list.


lst1=[3, 7, 6, 8, 9, 11, 15, 25]
lst2=[]
#Type your answer here.
for i in lst1:
    a=i**2
    lst2.append(a)
    
print(lst2)

[9, 49, 36, 64, 81, 121, 225, 625]

In [14]:
#Write a for loop using an if statement, that appends each number to the new list if it's positive.



lst1=[111, 32, -9, -45, -17, 9, 85, -10]
lst2=[]
#Type your answer here.

for i in lst1:
    if i>=0:
        lst2.append(i)

print(lst2)

[111, 32, 9, 85]

# bellow  program was done by me after doing all the above for loop examples

In [21]:
#Using for loop and if statement, append the value minus 1000 for each key to the new list 
#if the value is above 1000. i.e.: if the value is 1500, 500 should be added to the new list.




lst=[900,1100,2300,1050,3200,400,500]
w=[]
#Type your answer here.
for i in lst:
    if i>=1000:
        i-=1000
        w.append(i)
    else:
        i=i
        w.append(i)
print(w)

[900, 100, 1300, 50, 2200, 400, 500]

In [28]:
#Write a for loop which appends the type of each element in the first list to the second list.



lst1=[3.14, 66, "Teddy Bear", True, [], {}]
lst2=[]
#Type your answer here.
for i in lst1:
    b=type(i)
    lst2.append(b)


print(lst2)

[<class 'float'>, <class 'int'>, <class 'str'>, <class 'bool'>, <class 'list'>, <class 'dict'>]

In [29]:
#using insert method

lst1=[3.14, 66, "Teddy Bear", True, [], {}]
lst2=[]
#Type your answer here.
for i in lst1:
    b=type(i)
    lst2.insert(len(lst1),b)


print(lst2)

[<class 'float'>, <class 'int'>, <class 'str'>, <class 'bool'>, <class 'list'>, <class 'dict'>]

In [32]:
# answer by system
#Write a for loop which appends the type of each element in the first list to the second list.

lst1=[3.14, 66, "Teddy Bear", True, [], {}]
lst2=[]
for i in lst1:
    lst2.append(type(i))
print(lst2)

[<class 'float'>, <class 'int'>, <class 'str'>, <class 'bool'>, <class 'list'>, <class 'dict'>]

In [33]:
#1. Write a Python program to find those numbers which are divisible by 7
# and multiple of 5, between 1500 and 2700 (both included). Go to the editor

a=1
for i in range(1500,2701):
    a=+1
    if ((i%7)==0)&((i%5)==0):
        print(a,':',i)

1 : 1505
1 : 1540
1 : 1575
1 : 1610
1 : 1645
1 : 1680
1 : 1715
1 : 1750
1 : 1785
1 : 1820
1 : 1855
1 : 1890
1 : 1925
1 : 1960
1 : 1995
1 : 2030
1 : 2065
1 : 2100
1 : 2135
1 : 2170
1 : 2205
1 : 2240
1 : 2275
1 : 2310
1 : 2345
1 : 2380
1 : 2415
1 : 2450
1 : 2485
1 : 2520
1 : 2555
1 : 2590
1 : 2625
1 : 2660
1 : 2695

In [3]:
#2. Write a Python program to convert temperatures to and from celsius, fahrenheit. Go to the editor
#[ Formula : c/5 = f-32/9 [ where c = temperature in celsius and f = temperature in fahrenheit ]
#Expected Output :
#60°C is 140 in Fahrenheit
#45°F is 7 in Celsius

a= (input("enter the temperature:"))
if ("°C" in a):
    c = (a-32/9)*5
    print(c)
else:
    f=(a/5)+(32/9)
    print(f)

enter the temperature:45

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [3]:
###### Write a Python program to guess a number between 1 to 9. Go to the editor
#Note : User is prompted to enter a guess. If the user guesses wrong then the prompt appears 
#again until the guess is correct, on successful guess, user will get a "Well guessed!" message, and the program will exit.

guess=7
a= int(input("please enter your integer guessing number between 0-10"))
if(a==guess):
    Print("you have guessed it rite")
else:
    a=int(input("Please guess a new number"))

please enter your integer guessing number between 0-105
Please guess a new number7

In [1]:
#for loop using nested list
for i in [1,2,3,[1,2,3],"a " ,'s']:

    print(i)

1
2
3
[1, 2, 3]
a
s

In [2]:
#to print any table by getting input from user

a=int(input("please enter which table u want"))
for i in range(1,11):
    b=i*a
    print(i,"X",i,"=",b)

please enter which table u want6
1 X 1 = 6
2 X 2 = 12
3 X 3 = 18
4 X 4 = 24
5 X 5 = 30
6 X 6 = 36
7 X 7 = 42
8 X 8 = 48
9 X 9 = 54
10 X 10 = 60

In [3]:
#multiply the value of list a by 2 and store it in a new list b

a=[1,2,3,4,5,6,7]
b=[]
for i in a:
    b.append(i*2)
print(b)

[2, 4, 6, 8, 10, 12, 14]

In [4]:
a=[1,2,3,4,5,6,7,8,9,10]
b=[]
for i in a:
    if (i%2==0):
        b.append(i)
print(b)

[2, 4, 6, 8, 10]

In [5]:
# list comprehension


#syntax = [expresion for a var in iterable if condition]
#expresion is 1 ,then for loop ,then if condition

b=[i for i in a if (i%2==0)]


print(b)

[2, 4, 6, 8, 10]

In [6]:
# extract al the username alone  and store in list

a = ['afsaan@gmail.com' , 'akash@email.com' , 'gulab@gmail.com' , 'krishna@yahoo.in' , 'pranali@xyz.in']
b=[]
c=str(a)
print(c)
b=c.appendsplit('@',[0])
print(b)

['afsaan@gmail.com', 'akash@email.com', 'gulab@gmail.com', 'krishna@yahoo.in', 'pranali@xyz.in']

AttributeError: 'str' object has no attribute 'appendsplit'

In [7]:
a = ['afsaan@gmail.com' , 'akash@email.com' , 'gulab@gmail.com' , 'krishna@yahoo.in' , 'pranali@xyz.in']

b = []
for i in a:
    b.append(i.split('@')[0])
print(b)

['afsaan', 'akash', 'gulab', 'krishna', 'pranali']

In [8]:
# list comprehenstion

b=[i.split('@')[0] for i in a]
print(b)

['afsaan', 'akash', 'gulab', 'krishna', 'pranali']

In [9]:
a,b,c,r=1,2,(1,3,4),4
print(c[0])

1