In [ ]:
# Specail and Escape characters in python

In [1]:
# \n --->new line

print('hello\nworld')

hello
world

In [2]:
# back slash \- escape characeter

print('hello\\nworld')

hello\nworld

In [4]:
a = 'python\'s class'
print(a)

python's class

In [5]:
a = "python\"s class"
print(a)

python"s class

In [6]:
# \b - backspace - deletes the previous characters

print('abc\bcd')

abccd

In [7]:
print('afsan \bkhan')

afsan khan

In [8]:
print('ab'+'\b'+'c')  # ab\bc
print('ab\bc')

abc

In [9]:
'afsaab'+'khan'

'afsaabkhan'

In [10]:
# \r - carriage return - moves all the character after the Cr to the beg of the line while overiding the same character

txt = "hello\rwor"
print(txt)

wor

In [12]:
txt = "hello\rindian"
print(txt)

indian

In [16]:
# \t - tab (4 spaces)

print('hello\tworld')

hello	world

In [17]:
print('hello\\tworld')

hello\tworld

In [20]:
# r - rawstring(to avoid all the special characters inside the string... 
#it prints as it is)

print(r'123\456')

123\456

In [28]:
s1 = 'abc'
s2 = 'ABC*'
s3 = '*'
s4 = '112'
s5 = 'ABCabc1'

# isupper - return true if character is uupercase else false
print(s1.isupper()) #false
print(s2.isupper()) # True
print(s3.isupper()) # False
print(s4.isupper()) # False
print(s5.isupper()) # False


print('-------------------------')
# isloswer - return true if char is lowercase else false
print(s1.islower()) #true
print(s2.islower()) # False
print(s3.islower()) # False
print(s4.islower()) # False


s1 = 'abc'
s2 = 'ABC*'
s3 = '*'
s4 = '112'
s5 = 'ABCabc1'

print('-------------------------')
# istitle - return true if string is titledcase else false
print(s1.istitle()) # False
print(s2.istitle()) # False
print(s3.istitle()) # False
print(s4.istitle()) # False
print('Python Class'.istitle()) # False

False
True
False
False
False
-------------------------
True
False
False
False
-------------------------
False
False
False
False
True

### strip , rstrip , lstrip
- removes the character specified from the end
- if specified char is not mentioned then the default will be space

In [34]:
# strip - removes the specified char from both the ends
print('     afsaan        ')
print('     afsaan        '.strip())

print('**afsaa*n******')
print('**afsaa*n******'.strip('*'))

print('afsanppppp')
print('afsanppppp'.strip('p'))

     afsaan
afsaan

In [40]:
# rstrip - removes the specified char form rhs
print('     afsaan        ')
print('     afsaan        '.rstrip())

print('**afsaa*n******')
print('**afsaa*n******'.rstrip('*'))

print('afsanppppp')
print('afsanppppp'.rstrip('p'))

     afsaan
     afsaan
**afsaa*n******
**afsaa*n
afsanppppp
afsan

In [41]:
# lstrip - removes the specified char form lhs
print('     afsaan        ')
print('     afsaan        '.lstrip())

print('**afsaa*n******')
print('**afsaa*n******'.lstrip('*'))

print('afsanppppp')
print('afsanppppp'.lstrip('p'))

     afsaan
afsaan
**afsaa*n******
afsaa*n******
afsanppppp
afsanppppp

In [45]:
#used case (for password error correction by the developer 
# if the user gives spaces or any )
username = input('please enter your username')
password = input('please enetr your password')

if username.strip() == 'afsaan' and password.strip() == 'khan':
    print('looged in')
else:
    print('incorrect info')

please enter your usernameafsaan
please enetr your password   khan
looged in

In [43]:
' khan' == 'khan'

False

In [51]:
# count 
my_str = 'afsaan loves to watch football'
my_str.count('sf')

0

In [57]:
# find , rfind , index, rindex

# find - finds the index from l to R
my_str = 'afsaan loves to watch football'
print(my_str.find(' '))

# rfind - finds the index from r to l
my_str = 'afsaan loves to watch football'
print(my_str.rfind('l'))

# index - finds the index from l to R
my_str = 'afsaan loves to watch football'
print(my_str.index(' '))

# rindex - finds the index from r to l
my_str = 'afsaan loves to watch football'
print(my_str.rindex('l'))

6
29
6
29

# difference between index and find

- diiference is if any char is not found oin the string find will return -1 whereas index will raise an error

In [59]:
# index - finds the index from l to R
my_str = 'afsaan loves to watch football'
print(my_str.find('z'))

# index - finds the index from l to R
my_str = 'afsaan loves to watch football'
print(my_str.index('z'))

-1

ValueError: substring not found

In [63]:
#ljust(left adjustment)  , rjust(right adjustment)

#allignment according to the index given
txt = 'afsan'

print(txt.ljust(20), 'hello word'.ljust(10))

afsan                hello word

In [61]:
txt = 'afsan'

print(txt.rjust(20), 'hello world')

               afsan hello world

In [66]:
# replace - replace the character

my_str = 'afsaan loves to watch football'
print(my_str.replace('a' , 'p'))

my_str = 'afsaan loves to watch football'
print(my_str.replace('to' , 'is'))

pfsppn loves to wptch footbpll
afsaan loves is watch football

In [65]:
my_str

'afsaan loves to watch football'

In [80]:
# split - it converts the the string to a list based on the split characters and if not  provided default is space

my_str = 'afsaan loves to watch football loves'
my_str.split()

['afsaan', 'loves', 'to', 'watch', 'football', 'loves']

In [68]:
my_str = 'afsaan loves*to watch football'
my_str.split('*')

['afsaan loves', 'to watch football']

In [75]:
my_str = 'afsaan loves*to watch football'
a = my_str.split('a')

In [74]:
# join - list abck to string

list

In [79]:
lst = ['afsaan', 'loves', 'to', 'watch', 'football', 'loves']

"---> ".join(lst)

'afsaan--->loves--->to--->watch--->football--->loves'

In [ ]:
# list

- any value written inside a sqaure brackets and seperated by commas

In [82]:
a = [1,2,3,4,5]
print(type(a))

<class 'list'>

In [83]:
len(a)

5

In [84]:
len('afsaan')

6

# Creation of list

In [86]:
# 1 . you already know the element

lst1 = ['banana' , 'mangao' , 'grapes']
print(lst1)

['banana', 'mangao', 'grapes']

In [88]:
#2 . taking a user input()

lst = eval(input('plese enter a list'))
print(lst , type(lst))

plese enter a list[1,2,3,4,]
[1, 2, 3, 4] <class 'list'>

In [90]:
#3. type casting

a = 'abc'
c = (1,2,3)

print(list(a))
print(list(c))

['a', 'b', 'c']
[1, 2, 3]

In [91]:
#4. split method

my_str = 'afsaan loves to watch football loves'
my_str.split()

['afsaan', 'loves', 'to', 'watch', 'football', 'loves']

In [ ]:
# properties of list

- Seq data type
- indexing(accesing one element) and slicing(accessing multiple elements) is supported
- supoorts both -ve and +ve indexing
- mutable
- Allows duplication
- it is hetrogenous - can store multiple data type
- basic op , slicing , indexing , concatination , repetition , indenety, Memebership

In [94]:
# indexing

a = [1,2,3,4,5,6,7,8,9,10]
a[-1]
a[len(a)-1]

10

In [95]:
# indexing

a = [1,2,3,4,5,6,7,8,9,10]
a[1:5:-1]

[]

In [96]:
a = [1,2,3,4,5,6,7,8,9,10]
a[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [97]:
a = [1,2,3,4,5,6,7,8,9,10]
a[-1:-9:-2]

[10, 8, 6, 4]

In [98]:
# - Allows duplication

lst = [1,1,1,1,2,2,2,3,3,3]
print(lst)

[1, 1, 1, 1, 2, 2, 2, 3, 3, 3]

In [99]:
# it is hetrogenous - can store multiple data type

lst = [1 , 1.2 , '1.2' , True , None , [1,2,3] , (1,2,3) , {1,2,3} , 10+6j]
print(lst)

[1, 1.2, '1.2', True, None, [1, 2, 3], (1, 2, 3), {1, 2, 3}, (10+6j)]

{1, 2, 3}

# basic operation

In [101]:
# concatination

# op - +
# operand - both the operand should be list

a = [1,2,3]
b = [5,6,7]
print(a+b)

[1, 2, 3, 5, 6, 7]

In [104]:
# repetition

# op - *
# operand - one should be list and other should be int number

a = [1,2,3]
b = 10
print(a*b)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [105]:
# Indentity

# op - is and is not
# - returns bool values
# - if address is same or not

a = [1,2,3,4]
b = [1,2,3,4]

print(a is b)

False

In [109]:
# Membership operator

# op - in and not in
# - return bool


a = ['afsaan' , 'Aman' , 'srikant' , 'mizba' , 'niharika' , 'gaurav']
print('gaurav' not in a)

False

In [ ]:
# nesting list
# all methods in list
# for loop
# list comphresion

In [110]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [112]:
a = 'python$'
b = 'python$'

print(id(a))
print(id(b))

140154765763888
140154765762800