# dictionary

In [3]:
emp_data = ['Afsan' , 24 , 700000]

# name of the employee
print(emp_data[0])

# age of the employee
print(emp_data[1])


# salary of the employee
print(emp_data[2])

Afsan
24
700000

In [ ]:
# problem 2
emp_data = ['Afsan' , 24 , 24]

# name of the employee
print(emp_data[0])

# age of the employee
print(emp_data[1])


# salary of the employee
print(emp_data[2])

In [ ]:
# problem 2
emp_data = [ 24 , 700000,'Afsan']

# name of the employee
print(emp_data[0])

# age of the employee
print(emp_data[1])


# salary of the employee
print(emp_data[2])

In [5]:
# Dictionary 0 it is used to represent the structured daata

emp_data = {'age':24 , 'salary':24 , 'name':'Afsan' }

# name of the employee
print(emp_data['name'])

# age of the employee
print(emp_data['age'])


# salary of the employee
print(emp_data['salary'])

Afsan
24
24

In [ ]:
# properties of dictinoaries

- it is a collection of key value pair
- a key, value is called as item
- items are sep by commas(,)
- key and value are seperated by (:)
- key cannot be duplicated whereas value can be duplicated
- key cannot be mutable (imutable)
- value can be anything (mutable / immutable)
- all item are into curly bracktes and sep by commas
- is not a seq data type so der is no indexing , slicing , concatination , repetition
- membership op are only applicable on keys and true if key is present
- idenity op is possible
- it is mutable

# how to crate a dictionary

In [7]:
# if you already know the value

emp_data = {'emp1' : {'age':24 , 'salary':24 , 'name':'Afsan' } , 
            'emp2' : {'age':23 , 'salary':70 , 'name':'Rahul' }}

print(emp_data , type(emp_data))

{'emp1': {'age': 24, 'salary': 24, 'name': 'Afsan'}, 'emp2': {'age': 23, 'salary': 70, 'name': 'Rahul'}} <class 'dict'>

In [9]:
# 2. taking user input

data = eval(input('Enter a dic'))
print(data , type(data))

Enter a dic{1: 2}
{1: 2} <class 'dict'>

# 3. type casting - dict()

- dict function takes a seq of inner seq where inner seq will have a pair of value and out of the pair the first value will be a key and second value will be a value

In [11]:
a = [(1,'a'),(2,'b'),(3,'c'),(4,'d'),(5,'e')]
print(dict(a))

{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e'}

# 4. zip function

In [ ]:
syntax zip(iter1 , iter2)

In [33]:
dict(zip([1,2,3] , ['a' , 'b' , 'c']))

{1: 'a', 2: 'b', 3: 'c'}

In [ ]:
# - it is a collection of key value pair
# - a key, value is called as item
# - items are sep by commas(,)
# - key and value are seperated by (:)

emp_data = {'emp1' : {'age':24 , 'salary':24 , 'name':'Afsan' } , 
            'emp2' : {'age':23 , 'salary':70 , 'name':'Rahul' }}

In [21]:
# 5. key cannot be duplicated whereas value can be duplicated

emp_data = {'emp1' : {'age':24 , 'salary':24 , 'name':'Afsan' } , 
            'emp2' : {'age':23 , 'salary':70 , 'name':'Rahul' } , 
            'emp3' : {'age':23 , 'salary':70 , 'name':'Rahul' }}

print(emp_data)

{'emp1': {'age': 24, 'salary': 24, 'name': 'Afsan'}, 'emp2': {'age': 23, 'salary': 70, 'name': 'Rahul'}, 'emp3': {'age': 23, 'salary': 70, 'name': 'Rahul'}}

In [23]:
emp_data = {'emp1' : {'age':24 , 'salary':24 , 'name':'Afsan' } , 
            'emp2' : {'age':23 , 'salary':70 , 'name':'Rahul' } , 
            'emp2' : {'age':23 , 'salary':70 , 'name':'Gaurav' }}

print(emp_data)

{'emp1': {'age': 24, 'salary': 24, 'name': 'Afsan'}, 'emp2': {'age': 23, 'salary': 70, 'name': 'Gaurav'}}

In [25]:
emp_data = {'emp1' : {'age':24 , 'age':27 , 'name':'Afsan' } , 
            'emp2' : {'age':23 , 'age':70 , 'name':'Rahul' } , 
            'emp2' : {'age':23 , 'age':70 , 'name':'Gaurav' }}

print(emp_data)

{'emp1': {'age': 27, 'name': 'Afsan'}, 'emp2': {'age': 70, 'name': 'Gaurav'}}

### Note - if you have the muliple key with the same name then the latest one will be considered

In [ ]:
# 6. key can be only immutable

emp_data = {'emp1' : {'age':24 , 'age':27 , 'name':'Afsan' } , 
            'emp2' : {'age':23 , 'age':70 , 'name':'Rahul' } , 
            'emp2' : {'age':23 , 'age':70 , 'name':'Gaurav' }}

print(emp_data)

In [26]:
emp_data = { 1 : {'age':24 , 'age':27 , 'name':'Afsan' } , 
            'emp2' : {'age':23 , 'age':70 , 'name':'Rahul' } , 
            'emp2' : {'age':23 , 'age':70 , 'name':'Gaurav' }}

print(emp_data)

{1: {'age': 27, 'name': 'Afsan'}, 'emp2': {'age': 70, 'name': 'Gaurav'}}

In [29]:
emp_data = { (6+7j) : {'age':24 , 'age':27 , 'name':'Afsan' } , 
            'emp2' : {'age':23 , 'age':70 , 'name':'Rahul' } , 
            'emp2' : {'age':23 , 'age':70 , 'name':'Gaurav' }}

print(emp_data)

{(6+7j): {'age': 27, 'name': 'Afsan'}, 'emp2': {'age': 70, 'name': 'Gaurav'}}

In [ ]:
key can be

- int
- string
- float
- tuple
- Bool
- complex

value can be

- any data types

In [30]:
# value can be anything of your choice ( immutable , mutable)

emp_data = { (6+7j) : {'age':24 , 'age':27 , 'name':'Afsan' } , 
            'emp2' :1 , 
            'emp2' : (1,2,3)}

print(emp_data)

{(6+7j): {'age': 27, 'name': 'Afsan'}, 'emp2': (1, 2, 3)}

In [34]:
# - is not a seq data type so der is no indexing , slicing , concatination , repetition

emp_data = { (6+7j) : {'age':24 , 'age':27 , 'name':'Afsan' } , 
            'emp2' :1 , 
            'emp2' : (1,2,3)}

In [35]:
# indexing
emp_data[0]

KeyError: 0

In [36]:
# slicing
emp_data[0:2]

TypeError: unhashable type: 'slice'

In [37]:
# concatination

emp_data + emp_data

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [38]:
# repetition

emp_data * 2

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [40]:
# identity

# op - is and is not
# - bool values

a = {1:'a'}
b = {1:'a'}


print(id(a))
print(id(b))

print(a is not b)

140314617350720
140314617350656
True

In [56]:
# Memership op
# - membership operator is applicable only on keys and return True if key is present otherwise False


emp_data = { (6+7j) : {'age':24 , 'age':27 , 'name':'Afsan' } , 
            'emp2' :1 , 
            'emp2' : (1,2,3)}

In [57]:
print(emp_data)

{(6+7j): {'age': 27, 'name': 'Afsan'}, 'emp2': (1, 2, 3)}

In [64]:
1 in emp_data['emp2']['name']

TypeError: tuple indices must be integers or slices, not str

In [59]:
1 in emp_data['emp2']

True

In [49]:
# Accesing a value inside a dictionary

employee_details = { 'emp1' : {'name':'Afsan' , 'age': 23 , 'salary':70000} ,
                    'emp2' : {'name':'rahul' , 'age': 23 , 'salary':6000}}

In [2]:
# extract afsaan from a employee_details
employee_details = { 'emp1' : {'name':'Afsan' , 'age': 23 , 'salary':70000} ,
                    'emp2' : {'name':'rahul' , 'age': 23 , 'salary':6000}}

employee_details['emp1']['name']

'Afsan'

In [54]:
# extract Rahul from a employee_details and reverse it

employee_details['emp2']['name'][::-1]

'luhar'

In [65]:
employee_details = { 'emp1' : {'name':'Afsan' , 'age': 23 , 'salary':70000} ,
                    'emp2' : {'name':'rahul' , 'age': 26 , 'salary':6000} , 
                   'emp3' : {'name':'saurav' , 'age': 27 , 'salary':6000} , }

In [69]:
# extract all the name where age is more than 25

for i in employee_details.keys():
    if employee_details[i]['age'] > 25:
        print(employee_details[i]['name'])

rahul
saurav

# update the dic

1. if key is not present

- add a new key

In [72]:
employee_details = { 'emp1' : {'name':'Afsan' , 'age': 23 , 'salary':70000} ,
                    'emp2' : {'name':'rahul' , 'age': 26 , 'salary':6000} , 
                   'emp3' : {'name':'saurav' , 'age': 27 , 'salary':6000} , }

In [73]:
employee_details['emp4'] = {'name':'Vani' , 'age': 27 , 'salary':6000000}

print(employee_details)

{'emp1': {'name': 'Afsan', 'age': 23, 'salary': 70000}, 'emp2': {'name': 'rahul', 'age': 26, 'salary': 6000}, 'emp3': {'name': 'saurav', 'age': 27, 'salary': 6000}, 'emp4': {'name': 'Vani', 'age': 27, 'salary': 6000000}}

In [75]:
# 2. if is present

# - it will update the key

employee_details = {'emp1': {'name': 'Afsan', 'age': 23, 'salary': 70000}, 
 'emp2': {'name': 'rahul', 'age': 26, 'salary': 6000}, 
 'emp3': {'name': 'saurav', 'age': 27, 'salary': 6000}, 
 'emp4': {'name': 'Vani', 'age': 27, 'salary': 6000000}}

employee_details['emp4'] = {'name':'pavani' , 'age': 25 , 'salary':'1 crore'}

print(employee_details)

{'emp1': {'name': 'Afsan', 'age': 23, 'salary': 70000}, 'emp2': {'name': 'rahul', 'age': 26, 'salary': 6000}, 'emp3': {'name': 'saurav', 'age': 27, 'salary': 6000}, 'emp4': {'name': 'pavani', 'age': 25, 'salary': '1 crore'}}

# methods present inside a Dict

In [76]:
print(dir(dict))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

# Methods to add and access the element from the dic

1. get
2. setdeafult
3. update

In [ ]:
## 1.get

- if key is present it returns the value , else returns a deafult value

In [77]:
# a. if key is present

employee_details = {'emp1': {'name': 'Afsan', 'age': 23, 'salary': 70000}, 
 'emp2': {'name': 'rahul', 'age': 26, 'salary': 6000}, 
 'emp3': {'name': 'saurav', 'age': 27, 'salary': 6000}, 
 'emp4': {'name': 'Vani', 'age': 27, 'salary': 6000000}}

print(employee_details.get('emp2' , None))

{'name': 'rahul', 'age': 26, 'salary': 6000}

In [78]:
# b. if jey is not present

employee_details = {'emp1': {'name': 'Afsan', 'age': 23, 'salary': 70000}, 
 'emp2': {'name': 'rahul', 'age': 26, 'salary': 6000}, 
 'emp3': {'name': 'saurav', 'age': 27, 'salary': 6000}, 
 'emp4': {'name': 'Vani', 'age': 27, 'salary': 6000000}}

print(employee_details.get('emp10' , None))

None

In [79]:
# you can give you own custom message

employee_details = {'emp1': {'name': 'Afsan', 'age': 23, 'salary': 70000}, 
 'emp2': {'name': 'rahul', 'age': 26, 'salary': 6000}, 
 'emp3': {'name': 'saurav', 'age': 27, 'salary': 6000}, 
 'emp4': {'name': 'Vani', 'age': 27, 'salary': 6000000}}

print(employee_details.get('emp10' , 'not found'))

not found

2. setdafault

Insert the key with value of the deafult if key is not in the dic , else return the value of the key

In [80]:
# a. if key is present

employee_details = {'emp1': {'name': 'Afsan', 'age': 23, 'salary': 70000}, 
 'emp2': {'name': 'rahul', 'age': 26, 'salary': 6000}, 
 'emp3': {'name': 'saurav', 'age': 27, 'salary': 6000}, 
 'emp4': {'name': 'Vani', 'age': 27, 'salary': 6000000}}

print(employee_details.setdefault('emp3' , None))

{'name': 'saurav', 'age': 27, 'salary': 6000}

In [81]:
# b. if key is not present

employee_details = {'emp1': {'name': 'Afsan', 'age': 23, 'salary': 70000}, 
 'emp2': {'name': 'rahul', 'age': 26, 'salary': 6000}, 
 'emp3': {'name': 'saurav', 'age': 27, 'salary': 6000}, 
 'emp4': {'name': 'Vani', 'age': 27, 'salary': 6000000}}

print(employee_details.setdefault('emp10' , None))

None

In [82]:
employee_details

{'emp1': {'name': 'Afsan', 'age': 23, 'salary': 70000},
 'emp2': {'name': 'rahul', 'age': 26, 'salary': 6000},
 'emp3': {'name': 'saurav', 'age': 27, 'salary': 6000},
 'emp4': {'name': 'Vani', 'age': 27, 'salary': 6000000},
 'emp10': None}

In [85]:
# you can give you won custom message

employee_details = {'emp1': {'name': 'Afsan', 'age': 23, 'salary': 70000}, 
 'emp2': {'name': 'rahul', 'age': 26, 'salary': 6000}, 
 'emp3': {'name': 'saurav', 'age': 27, 'salary': 6000}, 
 'emp4': {'name': 'Vani', 'age': 27, 'salary': 6000000}}

print(employee_details.setdefault('emp10' , {'name': 'Vani', 'age': 27, 'salary': 6000000}))

{'name': 'Vani', 'age': 27, 'salary': 6000000}

In [86]:
employee_details

{'emp1': {'name': 'Afsan', 'age': 23, 'salary': 70000},
 'emp2': {'name': 'rahul', 'age': 26, 'salary': 6000},
 'emp3': {'name': 'saurav', 'age': 27, 'salary': 6000},
 'emp4': {'name': 'Vani', 'age': 27, 'salary': 6000000},
 'emp10': {'name': 'Vani', 'age': 27, 'salary': 6000000}}