In [1]:
t = (4, 6, 2, 8, 3, 90, 88, 90, 34, 22, 46,90)

In [2]:
dir(t)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [3]:
t = (4, 6, 2, 8, 3, 90, 88, 90, 34, 22, 46,90) 

t.index(90)

5

In [7]:
t = (4, 6, 2, 8, 3, 90, 88, 90, 34, 22, 46,90) 

t.index(90 , 6 , 8)

7

In [ ]:
# 3. update

update method in dic is similar extend in list

In [9]:
a = [1,2,3]
b = [6,7]
a.append(b)

In [10]:
a

[1, 2, 3, [6, 7]]

In [11]:
a = [1,2,3]
b = [6,7]
a.extend(b)

In [12]:
a

[1, 2, 3, 6, 7]

In [16]:
employee_details = {'emp1': {'name': 'Afsan', 'age': 23, 'salary': 70000}, 
 'emp2': {'name': 'rahul', 'age': 26, 'salary': 6000}, 
 'emp3': {'name': 'saurav', 'age': 27, 'salary': 6000}, 
 'emp4': {'name': 'Vani', 'age': 27, 'salary': 6000000}}

new_employee = {'abc':678,
               'emp6': {'name': 'Afsan', 'age': 23, 'salary': 70000}}

In [17]:
employee_details.update(new_employee)

In [18]:
employee_details

{'emp1': {'name': 'Afsan', 'age': 23, 'salary': 70000},
 'emp2': {'name': 'rahul', 'age': 26, 'salary': 6000},
 'emp3': {'name': 'saurav', 'age': 27, 'salary': 6000},
 'emp4': {'name': 'Vani', 'age': 27, 'salary': 6000000},
 'abc': 678,
 'emp6': {'name': 'Afsan', 'age': 23, 'salary': 70000}}

In [20]:
# methods to delete the items from the dic

# 1. pop
# 2. popitem

# 1. pop

removes the specified key and return the corresponing value, if the key is not found, default returned if given other wise key error is raised

In [21]:
# a.) key is present

employee_details = {'emp1': {'name': 'Afsan', 'age': 23, 'salary': 70000}, 
 'emp2': {'name': 'rahul', 'age': 26, 'salary': 6000}, 
 'emp3': {'name': 'saurav', 'age': 27, 'salary': 6000}, 
 'emp4': {'name': 'Vani', 'age': 27, 'salary': 6000000}}

print(employee_details.pop('emp1'))

{'name': 'Afsan', 'age': 23, 'salary': 70000}

In [22]:
employee_details

{'emp2': {'name': 'rahul', 'age': 26, 'salary': 6000},
 'emp3': {'name': 'saurav', 'age': 27, 'salary': 6000},
 'emp4': {'name': 'Vani', 'age': 27, 'salary': 6000000}}

In [23]:
# b.) key is not present

employee_details = {'emp1': {'name': 'Afsan', 'age': 23, 'salary': 70000}, 
 'emp2': {'name': 'rahul', 'age': 26, 'salary': 6000}, 
 'emp3': {'name': 'saurav', 'age': 27, 'salary': 6000}, 
 'emp4': {'name': 'Vani', 'age': 27, 'salary': 6000000}}

print(employee_details.pop('emp5'))

KeyError: 'emp5'

In [25]:
employee_details = {'emp1': {'name': 'Afsan', 'age': 23, 'salary': 70000}, 
 'emp2': {'name': 'rahul', 'age': 26, 'salary': 6000}, 
 'emp3': {'name': 'saurav', 'age': 27, 'salary': 6000}, 
 'emp4': {'name': 'Vani', 'age': 27, 'salary': 6000000}}

print(employee_details.pop('emp7' , 'key not found'))

key not found

In [26]:
# b.) key is not present

employee_details = {'emp1': {'name': 'Afsan', 'age': 23, 'salary': 70000}, 
 'emp2': {'name': 'rahul', 'age': 26, 'salary': 6000}, 
 'emp3': {'name': 'saurav', 'age': 27, 'salary': 6000}, 
 'emp4': {'name': 'Vani', 'age': 27, 'salary': 6000000}}

print(employee_details.pop())

TypeError: pop expected at least 1 argument, got 0

In [ ]:
# 2. popitem

remove and return (key,value) pair as a tuple of 2 elements from the last

In [27]:
employee_details = {'emp1': {'name': 'Afsan', 'age': 23, 'salary': 70000}, 
 'emp2': {'name': 'rahul', 'age': 26, 'salary': 6000}, 
 'emp3': {'name': 'saurav', 'age': 27, 'salary': 6000}, 
 'emp4': {'name': 'Vani', 'age': 27, 'salary': 6000000}}

print(employee_details.popitem())

('emp4', {'name': 'Vani', 'age': 27, 'salary': 6000000})

In [29]:
print(employee_details.popitem())

('emp3', {'name': 'saurav', 'age': 27, 'salary': 6000})

In [30]:
employee_details

{'emp1': {'name': 'Afsan', 'age': 23, 'salary': 70000},
 'emp2': {'name': 'rahul', 'age': 26, 'salary': 6000}}

In [33]:
# methods to check all the keys in a dic

employee_details = {'emp1': {'name': 'Afsan', 'age': 23, 'salary': 70000}, 
 'emp2': {'name': 'rahul', 'age': 26, 'salary': 6000}, 
 'emp3': {'name': 'saurav', 'age': 27, 'salary': 6000}, 
 'emp4': {'name': 'Vani', 'age': 27, 'salary': 6000000}}

employee_details.keys()

dict_keys(['emp1', 'emp2', 'emp3', 'emp4'])

In [34]:
# method to check all the values in a dic
employee_details.values()

dict_values([{'name': 'Afsan', 'age': 23, 'salary': 70000}, {'name': 'rahul', 'age': 26, 'salary': 6000}, {'name': 'saurav', 'age': 27, 'salary': 6000}, {'name': 'Vani', 'age': 27, 'salary': 6000000}])

In [35]:
employee_details['emp1'].keys()

dict_keys(['name', 'age', 'salary'])

In [36]:
# method to check all the items in a dic

employee_details = {'emp1': {'name': 'Afsan', 'age': 23, 'salary': 70000}, 
 'emp2': {'name': 'rahul', 'age': 26, 'salary': 6000}, 
 'emp3': {'name': 'saurav', 'age': 27, 'salary': 6000}, 
 'emp4': {'name': 'Vani', 'age': 27, 'salary': 6000000}}

employee_details.items()

dict_items([('emp1', {'name': 'Afsan', 'age': 23, 'salary': 70000}), ('emp2', {'name': 'rahul', 'age': 26, 'salary': 6000}), ('emp3', {'name': 'saurav', 'age': 27, 'salary': 6000}), ('emp4', {'name': 'Vani', 'age': 27, 'salary': 6000000})])

In [37]:
for i,j in employee_details.items():
    print(i)
    print(j)

emp1
{'name': 'Afsan', 'age': 23, 'salary': 70000}
emp2
{'name': 'rahul', 'age': 26, 'salary': 6000}
emp3
{'name': 'saurav', 'age': 27, 'salary': 6000}
emp4
{'name': 'Vani', 'age': 27, 'salary': 6000000}

In [39]:
#fromkeys

# Create a new dic with keys from iterable abd value set to value

d2 = dict.fromkeys([1,2,3,4,5,6])

In [40]:
d2

{1: None, 2: None, 3: None, 4: None, 5: None, 6: None}

In [47]:
d2 = dict.fromkeys([1,2,3,4,5,6,] , [1,2,3])

In [48]:
d2[5]=10

In [49]:
d2

{1: [1, 2, 3], 2: [1, 2, 3], 3: [1, 2, 3], 4: [1, 2, 3], 5: 10, 6: [1, 2, 3]}

In [53]:
for i,j in [(1,2) , (5,7) , (8,9)]:
    print(i*10 , j*20)

10 40
50 140
80 180

In [ ]:
for iteration 1 = i,j = (1,2)
        1,2
for iter 2 = i,j = (5,7)
        5,7

In [55]:
# clear()

employee_details

{'emp1': {'name': 'Afsan', 'age': 23, 'salary': 70000},
 'emp2': {'name': 'rahul', 'age': 26, 'salary': 6000},
 'emp3': {'name': 'saurav', 'age': 27, 'salary': 6000},
 'emp4': {'name': 'Vani', 'age': 27, 'salary': 6000000}}

In [56]:
employee_details.clear()

In [57]:
employee_details

{}

In [58]:
del employee_details

In [64]:
# dic comprehension
-synatx = {key:value for var in iterable if condition}

{i:i**2 for i in [1,2,3] if i%2==0}

{4}

In [62]:
empoyee_details = {'emp1': {'name': 'Afsan', 'age': 23, 'salary': 70000},
 'emp2': {'name': 'rahul', 'age': 26, 'salary': 6000},
 'emp3': {'name': 'saurav', 'age': 27, 'salary': 6000},
 'emp4': {'name': 'Vani', 'age': 27, 'salary': 6000000}}

for i,j in enumerate(empoyee_details):
    print(i , j)

0 emp1
1 emp2
2 emp3
3 emp4

In [ ]:
# Range Datatype

it is used with the for loop

syntax = range(start , stop , step)

start is inclusive
stop is exclusive

default
start value is 0
stop value should be given by user
step value is 1

In [68]:
list(range(5,10))

# start = 0
# stop = 10
# step = 1

[5, 6, 7, 8, 9]

In [69]:
list(range(5,10,-1))

[]

In [74]:
list(range(10,1))

[]

In [75]:
for i in range(1,10,2):
    print(list(i))

TypeError: 'int' object is not iterable

In [ ]:
# set data type

-  colection of values and it is not a seq
- indexing and slicing is not possible
- collection of unique values
- mutable
- cannot contain a list

In [76]:
a = {1,2,3,4,5,10}
print(a)

{1, 2, 3, 4, 5, 10}

In [77]:
a[0]

TypeError: 'set' object is not subscriptable

In [78]:
a = {1,2,3,4,5,10,10,10,10}
print(a)

{1, 2, 3, 4, 5, 10}

In [79]:
dir(a)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [80]:
a = {1,2,3,4,5}
print(a.add(6))

None

In [86]:
a = {'abc' , True , 1 , 0 , False}

In [87]:
a

{0, True, 'abc'}

In [88]:
a = {1,2,3,9,5}
print(a)

{1, 2, 3, 5, 9}

In [102]:
a = {10,20,30,40}
print(a)

{40, 10, 20, 30}

# conditional Statements

In [ ]:
# stat1
# stat2
# stat3
# if cond:
#     stat4
#     stat5

# if the condition is True - 1,2,3,4,5
if the condtion is false - 1,2,3

In [104]:
# stat1
# stat2
# stat3
# if cond:
#     stat4
#     stat5
# stat6
# stat7


# if the condition is True - 1,2,3,4,5,6,7
if the condtion is false - 1,2,3,6,7

In [ ]:
# if else

# stat1
# stat2
# stat3
# if cond:
#     stat4
#     stat5
# else:
#     stat6
#     stat7
# stat8
# stat9

# if the condition is True - 1,2,3,4,5,8,9
if the condtion is false - 1,2,3,6.7.8.9

In [ ]:
# stat1
# stat2
# stat3
# if cond1:
#     stat4
#     stat5
# if cond2:
#     stat6
#     stat7
# if cond3:
#     stat8
#     stat9
# else:
#     stat10
#     stat11
# stat12
# stat13

condition 1 is true and all are false - 1,2,3,4,5,10,11,12,13
condition 1 and 2 is true rest all are false - 1,2,3,4,5,6,7,10,11,12,13
if all condition are false - 1,2,3,10,11,12,13

In [ ]:
# stat1
# stat2
# stat3
# if cond1:
#     stat4
#     stat5
# else:
#     stat6
#     stat7
# if cond2:
#     stat8
#     stat9
# if cond3:
#     stat10
#     stat11
# else:
#     stat12
#     stat13
# stat14
# stat15

condition 1 is true and all are false - 1,2,3,4,5,12,13,14,15
condition 1 is false rest all true - 1,2,3,6,7,8,9,10,11,14,15

In [ ]:
# if , elif , else

# stat1
# stat2
# stat3
# if cond1:
#     stat4
#     stat5
# elif cond2:
#     stat8
#     stat9
# elif cond3:
#     stat10
#     stat11
# else:
#     stat12
#     stat13
# stat14
# stat15

condition 1 2 , is true and rest is false - 1,2,3,4,5,14,15
condtion 1 is false 2,3 is true - 1,2,3,8,9,14,15

In [ ]:
if any of the condition becomes true the below condition will not work in any condition
# or
if any coindition is false then it will go to the next condtion if all are false then it will go to else

In [105]:
a = 33
b = 333
if b>a:
    print('messi')
print('kante')

messi
kante

In [106]:
a = 33
b = 333
if b>a:
print('messi')
print('kante')

IndentationError: expected an indented block (<ipython-input-106-0517a4cb8e46>, line 4)

In [107]:
a = 20
b = 20

if a<b:
    print('messi')
elif a == b:
    print('kante')
else:
    print('neymar')
print('bruno')

kante
bruno

In [108]:
a = 200
b = 100
c = 700

if a >b and c > a :
    print('footbal')
else:
    print('cricket')
print('sports')

footbal
sports

In [112]:
a = 200
b = 100
c = 700

if a <b or c > 100 :
    print('footbal')
else:
    print('cricket')
print('sports')

footbal
sports

<!-- nested if - if statement inside if statment -->

In [115]:
x = 2

if x > 10:
    print('holaa')
    if x>20:
        print('bhuvan')
    else:
        print('india')
else:
    print('barcelona')
print('psg')

barcelona
psg