In [1]:
# for loop

In [ ]:
syntax

for var in iterable:
    statment1
    statment2
    statment3

In [ ]:
# how to identify if dataype is iterabe or not
#(which were all are sequence datatype)

- len function should work on that
- dir(object) should have __iter__

In [4]:
# - len function should work on that

a = 'str' # iterable
b = 1 # not iterable
c = [1,2,3] # iterable

print(len(c))

3

In [7]:
# - dir(object) should have __iter__

print(dir(c))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [8]:
for i in [1,2,3,4,5]:
    print('learnbay')

learnbay
learnbay
learnbay
learnbay
learnbay

In [ ]:
for iteration 1 i= 1
learnbay

for iteration 2 i= 2
learnbay

for iteration 3 i= 3
learnbay

for iteration 4 i= 4
learnbay

for iteration 5 i= 5
learnbay

for iteration 6 i= 5
stop

In [9]:
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

In [10]:
for i in [1,2,3,4,5]:
    print(i-1)

0
1
2
3
4

In [11]:
for i in 'afsaan':
    print('learnbay')

learnbay
learnbay
learnbay
learnbay
learnbay
learnbay

In [ ]:
for iteration 1 i=a
learnbay

for iteration 2 i=f
learnbay

In [12]:
for i in 'afsaan':
    print(i)

a
f
s
a
a
n

In [13]:
for i in [1,2,3,'a','b' , 'khan']:
    print(i)

1
2
3
a
b
khan

In [14]:
for i in 'afs aan': 
    print(i)

a
f
s

a
a
n

In [17]:
for i in 'afsaan, class': 
    print('learnbay')

learnbay
learnbay
learnbay
learnbay
learnbay
learnbay
learnbay
learnbay
learnbay
learnbay
learnbay
learnbay
learnbay

In [19]:
for i in [1,2,3,[1,2,3,[4,5,6]]]: 
    print(i)

1
2
3
[1, 2, 3, [4, 5, 6]]

In [20]:
# using for loop write a table of 2

for i in [1,2,3,4,5,6,7,8,9,10]:
    print(f'2*{i} = {2*i}')

2*1 = 2
2*2 = 4
2*3 = 6
2*4 = 8
2*5 = 10
2*6 = 12
2*7 = 14
2*8 = 16
2*9 = 18
2*10 = 20

In [24]:
# using for loop write a table given by user
num = int(input('please enter the table which you want:- '))
l = [1,2,3,4,5,6,7,8,9,10]
for i in l:
    print(f'{num}*{i} = {num*i}')

please enter the table which you want:- 10
10*1 = 10
10*2 = 20
10*3 = 30
10*4 = 40
10*5 = 50
10*6 = 60
10*7 = 70
10*8 = 80
10*9 = 90
10*10 = 100

In [25]:
# a = [1,2,3,4,5,6,7]
# b = [1,4,6,8,10,12,14]

# for loop
# one of the method of list

a = [1,2,3,4,5,6,7]
b = []

for i in a:
    b.append(i*2)
print(b)

[2, 4, 6, 8, 10, 12, 14]

In [ ]:
for iteration 1 i = 1
b.append(i*2)
[].append(1*2)
[2]
b = [2]


for iteration 2 i = 2
[2].append(2*2)
[2,4]

for iteration 3 i = 3
[2].append(2*2)
[2,4]

In [26]:
a = [1,2,3,4]

# append
# - it append the element at the end

a.append(6)
print(a)

[1, 2, 3, 4, 6]

In [29]:
a.append(100)

In [30]:
a

[1, 2, 3, 4, 6, 100]

In [ ]:
a=[1,2,3,4,5,6,7] 
b=[] for i in [1,2,3,4,5,6,7]: 
    print(i) 
    b.insert(i,2*i) 
b

In [34]:
a = [1,2,3,4,5,6,7]


for i in range (0,len(a)): 
    f = a[i]*2
    print(type(f))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

In [32]:
a = [1,2,3,4,5,6,7]
b = []

for i in a:
    b.append(i*2)
print(b)

14

In [ ]:
# list comprehesnion

syntax = [expression for var in iterables if condition]

In [35]:
b = [i*2 for i in a]
b

[2, 4, 6, 8, 10, 12, 14]

In [1]:
# odd and even number in a given list
a = [1,2,3,4,5,6,7,8,9]
b = []
c=[]
for i in a:
    if i%2==0:
        b.append(i)
    else:
        c.append(i)
print("the even nos in list is ",b)

print("the odd nos in list is ",c)

the even nos in list is  [2, 4, 6, 8]
the even nos in list is  [1, 3, 5, 7, 9]

In [39]:
[i for i in a if i%2==0]

[2, 4, 6, 8]

In [40]:
# extract al the username and store in list
a = ['afsaan@gmail.com' , 'akash@email.com' , 'gulab@gmail.com' , 'krishna@yahoo.in' , 'pranali@xyz.in']

In [42]:
# for loop
b = []
for i in a:
    b.append(i.split('@')[0])

In [43]:
b

['afsaan', 'akash', 'gulab', 'krishna', 'pranali']

In [44]:
[ i.split('@')[0] for i in a]

['afsaan', 'akash', 'gulab', 'krishna', 'pranali']

In [ ]:
# Tuple

- anything that can be inside a () and elements are sep by commas

In [47]:
a = (1,2,3,4)
print(a , type(a))

(1, 2, 3, 4) <class 'tuple'>

# Creating a tuple

In [48]:
# 1. you already know the elemnt

tup = (1,2,3,4,5)
print(tup)

(1, 2, 3, 4, 5)

In [49]:
#2. taking form the user - eval

tup = eval(input('enter the tuple'))
print(tup , type(tup))

enter the tuple(1,2,3,4)
(1, 2, 3, 4) <class 'tuple'>

In [51]:
#3. type casting

a = 'str'
b = [1,2,3]

print(tuple(b))

(1, 2, 3)

In [58]:
#4.

a = (1,2,3,4,5)
print(a , type(a))

a = 10,2,3,4,5
print(a , type(a))

(1, 2, 3, 4, 5) <class 'tuple'>
(10, 2, 3, 4, 5) <class 'tuple'>

In [55]:
a = 'afsaan' , None , 1  ,1.2
print(a)

('afsaan', None, 1, 1.2)

In [56]:
a = (1)
print(a , type(a))

a = 1
print(a , type(a))

1 <class 'int'>
1 <class 'int'>

In [57]:
#tuple cannot b single value ,atleast it shoul be followed by, after value
a = (1,)
print(a , type(a))

a = 1,
print(a , type(a))

(1,) <class 'tuple'>
(1,) <class 'tuple'>

In [ ]:
# Properties of tuple

- Seq data type
- +ve and -ve indexing is supported
- can hold any data type
- immutable
- allows duplication
- basic op - slicing , indexing , concatination , identity , Membership , repetition

In [59]:
# indexing
a = (1,2,3,4,5)
a[-1]

5

In [60]:
# slicing
a = (1,2,3,4,5)
a[1:3:-1]

()

In [61]:
a = (1,2,3,4,5)
a[1:3:2]

(2,)

In [62]:
# can hold any data type
a = ('afsan' , None , 1.2)
print(a)

('afsan', None, 1.2)

In [63]:
# allows duplication
a = (1,1,1,1,1,1)
print(a)

(1, 1, 1, 1, 1, 1)

In [65]:
# concatination

# op - +
# operands - both tuples


a = (1,2,3,4)
b = (4,5,6,7)
a+b

(1, 2, 3, 4, 4, 5, 6, 7)

In [66]:
# repetition

# op - *
# operands - one is int and other should be tuple

a = (1,2,3,4)
print(a*10)

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [68]:
# indentity

# op - is and is not
# - always return bool

a= (1,2,3)
b = (1,2,3)

print(id(a))
print(id(b))

print( a is b)

140251495169856
140251512265856
False

In [72]:
# membership

# op - in and not in
# - returns bool value

a = (100,200,300)

print(200 not in a)

False

In [73]:
a = (1,2,3,4)
a[0]=100

TypeError: 'tuple' object does not support item assignment

# Methods of tuple

In [74]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [76]:
# count

a = (1,2,3,4,5,6,7,8,9,9,9,9,9)
print(a.count(9))

5

In [78]:
# index

a = (1,2,3,4,5,6,7,8,9,9,9,9,9)
print(a.index(1))

0

In [79]:
len(a)

13

In [80]:
# tuple packing and unpacking


# tuple packing - assigning muliple valuyes to a single variable
a = 10,20,30,40,50,60
print(a)

(10, 20, 30, 40, 50, 60)

In [88]:
# tuple unpacking

a,b,c,d,e,f = 1,2,3,4,5
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

ValueError: not enough values to unpack (expected 6, got 5)

In [89]:
a= (1, (1,2))
print(a)

(1, (1, 2))

In [ ]:
Rule of unpacking

number of varibale in lhs == number of values in rhs