# try to get the input from the user and print the coresponding string number

In [2]:
#tried with dictinary to print the sring of given number


a=int(input("pls enter the value from 1-6"))

list=dict.fromkeys([1,2,3,4,5,6],{"one","two","three","four","five","six"})
print(list)
for i,j in list:
    if a==list[i]:
        print(list[j])

pls enter the value from 1-65
{1: {'five', 'one', 'two', 'six', 'four', 'three'}, 2: {'five', 'one', 'two', 'six', 'four', 'three'}, 3: {'five', 'one', 'two', 'six', 'four', 'three'}, 4: {'five', 'one', 'two', 'six', 'four', 'three'}, 5: {'five', 'one', 'two', 'six', 'four', 'three'}, 6: {'five', 'one', 'two', 'six', 'four', 'three'}}

TypeError: cannot unpack non-iterable int object

In [8]:
#using dictinary

a=int(input("pls enter the value from 1-6"))

list={1:"one",2:"two",3:'three',4:"four"}

print(list[a])

pls enter the value from 1-63
three

In [10]:
#to find given string is palandrome  or not

a=input("pls enter the string:")
b=a[::-1]
print(b)
if(a==b):
    print("palandrome")
else:
    print("not palandrome")

pls enter the string:srirs
srirs
palandrome

In [ ]:
#write a code to find a year is leap year or not

In [13]:
#logically it is wrong

a=int(input("pls enter the year to find leap year"))
if(a%4==0):
    print("the year is leap year")
else:
    print("the year is not a leap year")

pls enter the year to find leap year2021
the year is not a leap year

# satisfies any one of the bellow logic the it is aleep year
1---> a number is div by 4 and not div by 100
2---> a number div by 400

ie---->  if(num%4==0)&(num%100!=0) or(num%400=0)

In [14]:
# pls tru for 3 diff inputs
# ...1990(not under any)
# ...2000(div by 400)
# ...1992(div by 4 and not by 100)


num=int(input("pls enter the year to find leap year"))
if((num%4==0)and(num%100!=0) or(num%400==0)):
    print("the year is leap year")
else:
    print("the year is not a leap year")

pls enter the year to find leap year1990
the year is not a leap year

In [17]:
#design a basic calculator

a=eval(input("pls enter the first number for operations  :"))
b=eval(input("pls enter thesecond number for operations  :"))

c=int(input('please enter the value for selecting the operation 1-addition,2-sub,3-mult,4-divid'))
if(c==1):
    d=a+b
    print(d)
elif(c==2):
    e=a-b
    print(e)
elif(c==3):
    f=a*b
    print(f)
else:
    g=a/b
    print(g)

pls enter the first number for operations  :6
pls enter thesecond number for operations  :7
please enter the value for selecting the operation 1-addition,2-sub,3-mult,4-divid4
0.8571428571428571

In [ ]:
#to print the string of the given number


a=eval(input("pls enter the first number form 1-6  :"))
if (a==1):
    print("one")
elif(a==2):
    print("two")
elif(a==3):
    print("three")
elif(a==4):
    print("four")
elif(a==5):
    print("five")
elif(a==6):
    print("six")
else:
    print("pls enter the number in range")

In [15]:


a={1:"one",2:"two",3:"three",4:"four",5:"five",6:"six"}
b=eval(input("pls enter the first number form 1-6  :"))

if(b<=6):
    print(a.get(b))
    print(a[b])
else:
    print("pls enter the value in range")

pls enter the first number form 1-6  :3
three
three

In [17]:
#for loop to access string values(with out range function)

a="srisha"
for i in a:      #here the value of i is the charecters of string
    print(i)

s
r
i
s
h
a

In [18]:
#for loop to access string values(with range function)


a="ashwin"
for i in range(0,len(a)):    #here i is the values from 0 to 5
    print(i)

0
1
2
3
4
5

In [21]:
#for loop to access string values(with range function)

#to access the each characters in a string 


a="ashwin"
for i in range(0,len(a)):    #here i is the values from 0 to 5
    print(a[i])
print("the length of a is:  ",len(a))   # the range fun the first index is inclusive and second index is exclusive

a
s
h
w
i
n
the length of a is:   6

In [30]:
#for loop to access string values(with range function) to print in reverse


a="ashwin" 

for i in range(len(a)-1,-1,-1):    #here i is the values from 0 to 5
    print(a[i])

n
i
w
h
s
a

In [8]:
#using for loop and range function print the given output
# olp
# p
# yy
# ttt
# hhhh
# ooooo
# nnnnnn


a="python"
for i in range(0,len(a)):
    b=a[i]
    print(b*(i+1))
    i=i+1

p
yy
ttt
hhhh
ooooo
nnnnnn

In [5]:
# using while loop


a="python"
i=0
while i<len(a):
    print(a[i]*(i+1))
    i=i+1

p
yy
ttt
hhhh
ooooo
nnnnnn

In [25]:
#test to print the last alphabet of a given string

a="python"
print(a[-1]*1)
print(a[-2]*2)

n
oo

In [37]:
a="python"
for i in range():
       print(a[i])

o
n

In [30]:
# using for loop to print the given pattern(pos indexing in range with -ve step value)
#((((using -ve step value will only help us to make the string print from last))))
# n
# oo
# hhh
# tttt
# yyyyy
# pppppp


a="python"
for i in range(len(a),0,-1):
    
    print(a[i-1]*(len(a)-i+1))

n
oo
hhh
tttt
yyyyy
pppppp

In [16]:
#using -ve indexing of range value with -ve step value

a="srisa"
for i in range(-1,-len(a)-1,-1):
    print(a[i]*(-i))

a
ss
iii
rrrr
sssss

In [24]:
#using i as len(a)

a="python"
i=len(a)
while(i>=1):
    print((a[i-1])*(len(a)-i+1))
    i=i-1

n
oo
hhh
tttt
yyyyy
pppppp

In [3]:
# using i as 0

a="python"
i=0
while(i<len(a)):
    print(a[len(a)-i-1]*(i+1))
    i=i+1

n
oo
hhh
tttt
yyyyy
pppppp

In [31]:
a={ 'key1':[1,3,4],'key2':{5,7,8,3}}
print(a)
print(a['key1'])

{'key1': [1, 3, 4], 'key2': {8, 3, 5, 7}}
[1, 3, 4]

In [32]:
a=[1,2,3,4,5]
b=[2,3,4,5,5]
dict(zip(a,b))

{1: 2, 2: 3, 3: 4, 4: 5, 5: 5}

In [33]:
#extract afsan 


employee_details = { 'emp1' : {'name':'Afsan' , 'age': 23 , 'salary':70000} , 'emp2' : {'name':'rahul' , 'age': 23 , 'salary':6000}}

employee_details["emp1"]["name"]

'Afsan'

In [34]:
#extrct rahul and reverse it
#extract afsan 


employee_details = { 'emp1' : {'name':'Afsan' , 'age': 23 , 'salary':70000} , 'emp2' : {'name':'rahul' , 'age': 23 , 'salary':6000}}

employee_details["emp2"]["name"][::-1]


print(employee_details.get('emp3'))
print(employee_details.('emp3'))

SyntaxError: invalid syntax (<ipython-input-34-d5795be95d7e>, line 11)

In [5]:
employee_details = { 'emp1' : {'name':'Afsan' , 'age': 23 , 'salary':70000} , 'emp2' : {'name':'rahul' , 'age': 23 , 'salary':6000}}
for i in employee_details:
    print(i)

emp1
emp2

In [7]:
employee_details = { 'emp1' : {'name':'Afsan' , 'age': 23 , 'salary':70000} , 'emp2' : {'name':'rahul' , 'age': 23 , 'salary':6000}}
for i,j in employee_details.items():
    print(i,j)
    print(i)

emp1 {'name': 'Afsan', 'age': 23, 'salary': 70000}
emp1
emp2 {'name': 'rahul', 'age': 23, 'salary': 6000}
emp2

In [2]:
#here the tuple first value is passed as i ans 2nd as j
a={(1,2),(3,4),(4,5)}
for i,j in a:
    print(i,j)

4 5
1 2
3 4

In [3]:
#here the entire tuple is been passed as i(single element)
a={(1,2),(3,4),(4,5)}
for i in a:
    print(i)

(4, 5)
(1, 2)
(3, 4)

In [8]:
#here the enumerate  will take the value of i as count from 0 
#and j as values of a

a=[23,45,67,98,23]

for i,j in enumerate(a):
    print(i,":",j)

0 : 23
1 : 45
2 : 67
3 : 98
4 : 23

In [9]:
a=[23,45,67,98,23]
#here it is taking count with value as tuple

for i in enumerate(a):
    print(i)

(0, 23)
(1, 45)
(2, 67)
(3, 98)
(4, 23)

In [7]:
t=(2,3,4,5,6,4,3,4,5,5,5,3,2)
for i,j in enumerate(t):
    if(j==5):
        print(i)
        print(j)

3
5
8
5
9
5
10
5

In [8]:
t=[2,3,4,5,6,4,3,4,5,5,5,3,2]
for i,j in enumerate(t):
    if(j==5):
        print(i)
        print(j)

3
5
8
5
9
5
10
5

In [ ]:
# try to practice atleast two programs a day

# hackerrank(developer)
# python
# hackerearth
# geeksfor geeks

# w3resourse